<<<<<<< HEAD
body {
    background-color: rgb(255, 255, 255);
}


.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}
=======
body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}
>>>>>>> f15df0478baf4f89eba84dfd2fb815097273ec5b
