body {
    background-color: rgb(255, 255, 255);
}


.navbar {
    background-color: #800000;
    color: white;
}

#simulation {
    border: 1px solid black;
    display: block;
    margin: 50px auto;
}

.page-container {
    margin-top: 75px;
}
