body {
    background-color: rgb(255, 255, 255);
    text-align: center;
}


.navbar {
    background-color: #800000;
    color: white;
}

#simulation {
    border: 1px solid black;
    
}

#tableContainer {
    display: inline-block;
    margin-left: 100px;
}
#simContainer {
    display: inline-block;
    margin: 50px auto;
}
#buttonContainer > button {
    margin: 30px 20px 0px;
}

/*CSS from https://www.w3schools.com/html/html_tables.asp  */
table {
    position: absolute;
    top: 120px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */
  .pos{
    display: inline-block;
  }